.newsfeed-list-wrapper {
  padding: 0;
}

/* react-masonry-css classes */
.newsfeed-masonry-grid {
  display: flex;
  margin-left: -1.5rem; /* gutter offset */
  width: auto;
}
.newsfeed-masonry-grid_column {
  padding-left: 1.5rem; /* gutter */
  background-clip: padding-box;
}

.newsfeed-masonry-item {
  margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
  .newsfeed-masonry-grid {
    margin-left: -1rem;
  }
  .newsfeed-masonry-grid_column {
    padding-left: 1rem;
  }
  .newsfeed-masonry-item {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  /* no-op, masonry will handle columns via breakpointCols in JS */
}
